* {
    font-family: 'Poor Story', cursive;
}
body {
    background-color: #E0B0FF;
}
.envelope {
    background-image: url('https://pngimg.com/uploads/envelope/envelope_PNG18366.png');
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 200px auto 0px auto;
    cursor: pointer;
}
.envelope-msg {
    color: white;
    text-align: center;
}
.letter-close {
    display: block;
}
.letter-open {
    display: none;
}
.rtanny {
    width: 200px;
    height: 200px;
    background-image: url('https://s1.zerochan.net/Emilia.600.3144085.jpg');
    background-size: cover;
    background-position: center;
    background-color: white;
    margin: 100px auto 0px auto;
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 0px 0px 10px 0px white;
}
h1 {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}
.messagebox {
    width: 400px;
    margin: auto;
    font-size: 20px;
    line-height: 30px;
    background-color: ivory;
    color: purple;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px white;
}
.image {
    width: 230px;
    position: absolute;
    top: 455px;
    left: 423px;
    rotate: -20deg;
    z-index: -1;

}
.puck {
    width: 140px;
    z-index: 1;
    position: absolute;
    top: 400px;
    right: 470px;

}

@media screen and (max-width: 760px) {
    .messagebox {
        width: 300px;
        font-size: 20px;
        line-height: 30px;
        padding: 20px;
    }
    .rtanny {
        width: 150px;
        height: 150px;
        margin: 70px auto 0px auto;
    }
    h1 {
        font-size: 28px;
    }
    .envelope {
        margin: 150px auto 0px auto;
    }
    .image{
        width: 230px;
        position: absolute;
        top: 385px;
        left: 10px;
        rotate: -25deg;
    }
    .puck {
        width: 120px;
        position: absolute;
        top: 320px;
        right: 50px;
    }
}